<br/>
<h1>2014 Charter Schools Leadership Institute Brochure</h1>

<br/>

<h2>The Event</h2>
<p> The Charter School Leadership Institute is a nationally renowned, weeklong leadership training opportunity for California charter school leaders.  </p>

<br />

<h2>The Design</h2>
<p> The Charter School Leadership Institute is a nationally renowned, weeklong leadership training opportunity for California charter school leaders.  </p>

<h2>Images</h2>
<p> The Charter School Leadership Institute is a nationally renowned, weeklong leadership training opportunity for California charter school leaders.  </p>

<p>Outer spread:</p>

<div style="
float:left;
min-width: 100%; 
min-height: 220px;
padding-top:25px;
background-color: yellow;">

	<p> blah </p>

</div

<p>Inner spread:</p>

<div style="
float:left;
min-width: 100%; 
min-height: 220px;
padding-top:25px;
background-color: yellow;">

	<p> blah </p>

</div>