<script>
$(document).ready(function(){
  $("#filters").on("click", ".web", function(){
    $(".uber").filter(".web").toggleClass("highlight");
  });
});
</script>

<script>
$(document).ready(function(){
  $("#filters").on("click", ".all", function(){
    $(".uber").removeClass("highlight");
  });
});
</script>


<h1> Port </h1>
<h2> Lorem ipsum </h2>
<p> "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
<br />





<div id="filters" style="text-align: left;">
<button class="button web">Web</button>
<button class="button">All Projects</button>
<br />
<br />
<br />
</div>




<!-- 100% -->
<div style="width:100%; float:left;">

<!-- Content -->

<div class="uber web" style="
width:260px; 
float:left;
min-width: 260px; 
min-height: 275px;
padding-top:25px;
border-radius: 9px;
">

	  <img style="
	  display: block;
	  width: 200px;
	  height:200px;
	  margin-left: auto;
	  margin-right: auto;
	  border-radius: 100px;
	  font-size:20px;
	  color:#fff;
	  line-height:200px;
	  text-align:center;
	  text-decoration:none;
	  background: http://csdcwebapps.org/conference/2014022401.jpg;" src="http://csdcwebapps.org/conference/2014022401.jpg">
	  </img>

      <p align="center"><a href="/po/librochure/">2014 Leadership Institute<br/>Brochure</a></p>

</div>


<div class="uber print" style="
width:264px; 
float:left;
min-width: 264px; 
min-height: 220px;
padding-top:25px;">

	  <img style="
	  display: block;
	  width: 200px;
	  height:200px;
	  margin-left: auto;
	  margin-right: auto;
	  border-radius: 100px;
	  font-size:20px;
	  color:#fff;
	  line-height:200px;
	  text-align:center;
	  text-decoration:none;
	  background: http://csdcwebapps.org/conference/2014022403.jpg;" src="http://csdcwebapps.org/conference/2014022403.jpg">
	  </img>

      <p align="center">2014 Leadership Institute</p>
      <p align="center">brochure for 2014 leadership institute</p>

</div>

<div class="uber web" style="
width:264px; 
float:left;
min-width: 264px; 
min-height: 220px;
padding-top:25px;">

	  <img style="
	  display: block;
	  width: 200px;
	  height:200px;
	  margin-left: auto;
	  margin-right: auto;
	  border-radius: 100px;
	  font-size:20px;
	  color:#fff;
	  line-height:200px;
	  text-align:center;
	  text-decoration:none;
	  background: http://csdcwebapps.org/conference/2014022401.jpg;" src="http://csdcwebapps.org/conference/2014022401.jpg">
	  </img>

      <p align="center">2014 Leadership Institute</p>
      <p align="center">brochure for 2014 leadership institute</p>

</div>

<!-- End 100% -->
</div>



<!--
	<script>
$(document).ready(function(){
  $("#filters").on("click", ".web", function(){
    $(".uber").filter(".web").toggleClass("highlight");
  });
});
</script>

<script>
$(document).ready(function(){
  $("#filters").on("click", ".all", function(){
    $(".uber").removeClass("highlight");
  });
});
</script>
-->

	

	
