<br />
<h1> Resume </h1>


<h2> Interests </h2>
<p> Marketing & Design | Education |  </p>

<br/>
<h2> Education </h2>

<p> Harvard Graduate School of Education </p>
<i>Candidate, Master of Education, Technology, Innovation & Education (2015) </i>
<ul>
	<li> Did something </li>
	<li> Did someting else </li>
	<li> More</li>
</ul>

<p> University of California, Berkeley </p>
<i>Bachelor of Arts in History (2007)</i>
<ul>
	<li> Did something </li>
	<li> Did someting else </li>
	<li> More </li>
</Ul>



<br />

<h2> Experience </h2>

<p> University of California, Berkeley </p>
<i>Bachelor of Arts in History (2007)</i>
<ul>
	<li> Did something </li>
	<li> Did someting else </li>
	<li> More </li>
</Ul>


<p> University of California, Berkeley </p>
<i>Bachelor of Arts in History (2007)</i>
<ul>
	<li> Did something </li>
	<li> Did someting else </li>
	<li> More</li>
</Ul>
<br />

